<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"
	  href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
  
    <div class="text-success" th:if="${message}">
		<h2 th:text="${message}" />
	</div>
  
    <form method="POST" enctype="multipart/form-data" action="/">
	  <div class="mb-3">
		<label for="formFile" class="form-label">Default file input
			example</label> 
		<input class="form-control" type="file" name="file">
		<button class="btn btn-outline-primary" type="submit" style="margin-top: 10px;">Upload</button>
	  </div>
	</form>
	
	<div>
		<ul>
			<li th:each="file : ${files}"><a th:href="${file}"
				th:text="${file}" /></li>
		</ul>
	</div>
  </div>
</body>
</html>